.mainContainer{
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#e4e4e7,#27272a);
    justify-content:flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    
}

.headerContainer{
    min-height: 25vh;
    min-width: 100vw;
    background: #50C2C9;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    opacity: 0.7;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.scanButton{
    width: 55vw;
    height: 50px;
    border-radius: 20px;
    font-size:xx-large;
    font-weight: bold;
    background: #50C2C9;
    color: #fff;
    border-color: #50C2C9;
}

.camera{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 30vh
}